{% extends "::layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/louvreticket/css/ticket.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

{% endblock %}
{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
    {% block header %} Accueil {%  endblock %}
<div class="well">

        {{ form_start(formBooking, {'attr' : {'class' : 'form-horizontal'}}) }}
    {{ form_row(formBooking.tickets) }}
    <a href="#" id="add_category" class="btn btn-default">Ajouter un billet</a>

        {{ form_end (formBooking)}}

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'bundles/louvreticket/js/*'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    {% endjavascripts %}



{% endblock %}





