{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Information{% endblock %}

{% block header %} Information {% endblock %}
{% block body %}
    <div id="container">
{{ dump() }}
        <div class="well">
            {{ form(formTicket) }}
            {#{{ form_start(formTicketsOrder, {'attr' : {'class' : 'form-horizontal'}}) }}

            {{ form_label(formTicketsOrder.bookingDate, "Jour de réservation") }}
            {{ form_widget(formTicketsOrder.bookingDate) }}
            {{ form_label(formTicketsOrder.fullday, "Jour de réservation") }}
            {{ form_widget(formTicketsOrder.fullday) }}


            #}{#{{ form_label(form.discount, "Prénom" ) }}
            {{ form_widget(form.firstname) }}
            {{ form_label(form.birthday, "Date de naissance" ) }}
            {{ form_widget(form.birthday) }}
            {{ form_label(form.country, "Pays de résidence" ) }}
            {{ form_widget(form.country) }}
            {{ form_label(form.discount, "Tarif réduit" ) }}
            {{ form_widget(form.discount) }}#}


        </div>

    </div>
{% endblock %}
