{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Stripe{% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('bundles/louvreticket/css/bookingStripe.css') }}" type="text/css"/>
    {% endblock %}

    {% block header %} STRIPE {% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="danger alert-danger">
            <span></span>
        </div>
    {% endfor %}

    <div class="well">
        <div class="container-fluid">
            <h1> Paiement sécurisé <span class="glyphicon glyphicon-lock"></span></h1>

            <h2 class="alert alert-success">Prix total de la commande: {{ bookingPriced.totalPrice }}€ </h2>

            {{ form_start(formBooking)}}

            <div class="formElements">
                <span class="col-md-6">{{ form_row(formBooking.lastnameBooking) }}</span><span class="col-md-6">{{ form_row(formBooking.firstnameBooking) }}</span>
            </div>

                <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_qBx5kyAvnMPfSdU1uXeTzxmJ"
                        data-label="Payer"
                        data-amount="{{ bookingPriced.totalPrice }}00"
                        data-name="STRIPE"
                        data-description="Paiement sécurisé"
                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                        data-locale="fr"
                        data-zip-code="false"
                        data-value="payer avec carte"
                        data-currency="EUR"
                        data-allowRememberMe="false"
                >
                </script>
            {% do formBooking.url.setRendered %}
            {% do formBooking.tickets.setRendered %}
            {% do formBooking.halfday.setRendered %}
            {% do formBooking.visitingDay.setRendered %}
            {% do formBooking.next.setRendered %}
            {{ form_end (formBooking) }}

        </div>


    </div>
{% endblock %}




    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
        <script type="text/javascript" src="{{ asset('bundles/louvreticket/js/bookingStripe.js') }}"></script>
    {% endblock %}

